[submodule ".themes/dark"]
	path = .themes/dark
	url = git://github.com/octothemes/classic-dark.git
[submodule ".themes/light"]
	path = .themes/light
	url = git://github.com/octothemes/classic-light.git
[submodule ".themes/mullah-mussels"]
	path = .themes/mullah-mussels
	url = git://github.com/octothemes/mullah-mussels.git
[submodule ".themes/murky-mussels"]
	path = .themes/murky-mussels
	url = git://github.com/octothemes/murky-mussels.git
